{% extends "wrapper.twig" %}

{% set title = 'Page expired' %}
{% set text = 'Please try to reload the page. If the problem persists feel free to contact us on <a href="mailto:support@enflow.nl">support@enflow.nl</a>.' %}
{% set shouldAutoRefresh = false %}