{% extends "wrapper.twig" %}

{% set title = 'Aww, looks like something went wrong.' %}
{% set text = 'We track these errors automatically, but if the problem persists feel free to contact us on <a href="mailto:support@enflow.nl">support@enflow.nl</a>. In the meantime, try refreshing.' %}
{% set shouldAutoRefresh = false %}