{% extends "wrapper.twig" %}

{% set title = 'Not implemented' %}
{% set text = 'Something went wrong while trying to process your request. If the problem persists feel free to contact us on <a href="mailto:support@enflow.nl">support@enflow.nl</a>. In the meantime, try refreshing.' %}
{% set shouldAutoRefresh = true %}